<style>
    @import url('https://fonts.googleapis.com/css?family=Karla|Ubuntu&display=swap');
</style>
<hr style="opacity: 0;">
<div class="container">
<div class="row">
    <div class="col-md-4">
        <img src="assets/images/about1.jpg" alt="about">
    </div>
    <div class="col-md-4">
        <img src="assets/images/about2.jpg" alt="about">
    </div>
    <div class="col-md-4">
        <img src="assets/images/about3.jpg" alt="about">
    </div>
</div>
<hr style="opacity: 0;">
<h3 class="heading"><b>What We Do ?</b></h3>
<hr style="opacity: 0;">
<div class="row">
    <div class="col-md-4 content">
        Help event managers organize great events
        By providing them an awesome online,
        do it yourself, event ticketing and registration platform to sell event tickets online 
        without any hassle.
    </div>
    <div class="col-md-4 content">
        Support all kinds of events - Small or Big
        To sell their tickets online and accept registrations from 
        Event enthusiasts who can discover events happening in their cities.
    </div>
    <div class="col-md-4 content">
        Our mission is simple
        Making online event registrations and ticketing an easy and awesome experience 
        for event organizers and bridging the gap between organizers and enthusiasts.
    </div>    
</div>
</div>
<hr style="opacity: 0;">