<style>
    @import url('https://fonts.googleapis.com/css?family=Chilanka|Manjari|Roboto&display=swap');
</style>
<hr style="opacity:0;">
<footer>
    <div class="line"></div>
        <div class="container-fluid text-center color">
          <div class="row">
            <div class="col-md-3 col-xs-12 box pt-2">
                <h4 class="text-uppercase"><b>Eventsity</b></h4>
                <p>
                    We give a platform to Event Organisers to promote the
                    upcoming events and provide details about the Event.
                </p>
                <p>
                    Users have a platform to explore events and be updated 
                    about the events upcoming events nearby.
                </p>
            </div>
            <div class="col-md-3 col-xs-12 pt-2">
                <h4 class="text-uppercase"><b>Event Organisers</b></h4>
                <p>
                    Organisers create events and events are promoted on
                    the website to make users aware about the events.
                </p>
            </div>
            <div class="col-md-3 col-xs-12 pt-2">
                <h4 class="text-uppercase"><b>Event Explore</b></h4>
                <p>
                    Users explore the events they are interested in and
                    can get more details about the event they are interested
                    in.
                </p>
            </div>
            <div class="col-md-3 col-xs-12 pt-2">
                <ul type="none">
                    <li class="pad"><b>200 MILLION+ EVENTS</b></li>
                    <li class="pad"><b>4 MILLION PEOPLE</b></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">  
                <hr style="background-color : white;">
                <div class="col-xs-6"><h3><b>EVENTSITY</b></h3></div>
                <div class="col-xs-6">
                    <ul type="none">
                        <li><a routerLink="/aboutus" class="link"><b>ABOUT US</b></a>
                        <li><a routerLink="/contactus" class="link"><b>CONTACT US</b></a>
                    </ul>
                </div>
            </div>
        </div>
        <hr style="opacity: 0;">
    </div>
    <div class="footer-copyright text-center colorend">
        © 2019 Copyright:EventSity
    </div>
</footer>