<style>
    @import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
    @import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
</style>
<ngx-ui-loader></ngx-ui-loader>
<div class="main">
    <div class="content">
        <div class="line"></div>
        <h1 class="text-uppercase shadow">Create.Discover.Explore</h1>
        <div class="line"></div>
        <div class="overlay"></div>
    </div>
</div>
<hr style="opacity:0;">
<div class="container">
    <div class="row">
        <h3 class="category"><b>Events On EventSity</b></h3>
        <div class="col-sm-4 ent fullimg box">
            <div style="z-index:2;"><b>ENTERTAINMENT</b></div>
            <div class="overlayside"></div>
        </div>
        <div class="col-sm-4">
        <div class="soc halfimg box">
            <div style="z-index:2;"><b>SOCIAL</b></div>
            <div class="overlaymid"></div>
        </div>
        <hr style="opacity:0;">
        <div class="sports halfimg box">
            <div style="z-index:2;"><b>SPORTS</b></div>
            <div class="overlaymid"></div>
        </div>
    </div>
    <div class="col-sm-4 tech fullimg box">
        <div style="z-index:2;"><b>TECHNOLOGY</b></div>
        <div class="overlayside"></div>
    </div>
</div>
<hr style="opacity:0;">
    <div class="row">
        <h3 class="category"><b>How EventSity Works</b></h3>
        <div class="col-md-4">
            <img src="assets/images/seteventpage.png" alt="setevent">
            <p class="desc">CREATE EVENT</p>
        </div>
        <div class="col-md-4">
            <img src="assets/images/sellticket.png" alt="sellticket">
            <p class="desc">SEND ENQUIRY</p>
        </div>
        <div class="col-md-4">
            <img src="assets/images/manageregistration.png" alt="manageregistration">
            <p class="desc">BECOME AN ORGANISER</p>
        </div>
    </div>
</div>