<style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap');
</style>
<hr style="opacity:0;">
<div class="container">
<div class="row">
    <div class="col-xs-12">
    <div class="col-md-6"><img src="../../assets/images/contactus.png" class="contact" alt="contact"></div>
    <div class="col-md-6">
    <!-- <img src="assets/images/contact.png" alt="contactus"> -->

<hr style="opacity: 0;">
<div class="row">
    <h3><b>TROUBLE WITH EVENT ENQUIRY?</b></h3>
    <p style="font-family: 'Poppins', sans-serif;">Email us at <a href="#">service@eventsity.com</a></p>
</div>
<hr>
<div class="row">
    <h3><b>ISSUES LISTING OR MANAGING YOUR EVENT?</b></h3>
    <p style="font-family: 'Poppins', sans-serif;">Email us at <a href="#">help@eventsity.com</a></p>
</div>
</div>
<hr style="opacity: 0;">
</div>
</div>
</div>