<style>
    @import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Rubik&display=swap');
</style>
<ngx-ui-loader></ngx-ui-loader>
<div class="container">
    <hr style="opacity:0;">
    <div class="col-md-2">
        <button class="glyphicon glyphicon-arrow-left back" (click)="back()"></button>
    </div>
    <div class="col-md-8">
        <h2 
        style="text-align:center;
        font-family: 'Josefin Sans', sans-serif;
        color:#0DBDE0"><b>Query?? Send Enquiry Directly To The Organiser :-)</b></h2>
    </div>
    <div class="col-md-7">
        <img src="../../assets/images/enquiryvector.jpg" 
        style="margin-top: 30px;"
        alt="enquiry">
    </div>
    <div class="col-md-5 box">
        <h4 
        style="text-align:center;
        color:#137CF3;"><b>Enquire Here !!</b>
        </h4>   
        <form (ngSubmit)="sendEnquiry(f)" #f="ngForm">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea
                        placeholder="Enter message for enquiry"
                        rows="8" 
                        id="enquiry" 
                        name="enquiry"
                        class="form-control"
                        ngModel
                        required
                        #enquiry="ngModel"></textarea>
                        <span
                        class="help-block"
                        *ngIf="!enquiry.valid && enquiry.touched"
                        style="color:red;">Enter message for enquiry</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 button">
                    <button 
                    type="submit" 
                    class="btn btn-success mybutton"
                    [disabled]="!f.valid" style="margin-right : 10px;">Send Enquiry</button>
                </div>
            </div>
        </form>
    </div>
</div>